<section>
    <div class="container-fluid bg-primary-dark mt-5 pt-3 pb-2">
        <div class="social-media-wrap center-child front">
            <ul class="row list social-media p-0 m-0">
                <li class="col txt-gold-light social-media-item">
                    <a href="{{facebookUrl}}">
                        <i class="fa-brands fa-facebook fa-2x " #tooltip="matTooltip" matTooltip="Facebook"
                            [matTooltipPosition]="'below'"></i>
                    </a>
                </li>
                <li class="col txt-gold-light social-media-item">
                    <a href="{{youtubeUrl}}">
                        <i class="fa-brands fa-youtube fa-2x" #tooltip="matTooltip" matTooltip="Youtube"
                            [matTooltipPosition]="'below'"></i>
                    </a>
                </li>
                <li class="col txt-gold-light social-media-item">
                    <a href="{linkedInUrl}}">
                        <i class="fa-brands fa-linkedin fa-2x" #tooltip="matTooltip" matTooltip="Linkedin"
                            [matTooltipPosition]="'below'"></i>
                    </a>
                </li>
                <li class="col txt-gold-light social-media-item">
                    <a href="{{intagramUrl}}">
                        <i class="fa-brands fa-instagram fa-2x" #tooltip="matTooltip" matTooltip="Instagram"
                            [matTooltipPosition]="'below'"></i>
                    </a>
                </li>
                <li class="col txt-gold-light social-media-item">
                    <a href="{{githubUrl}}">
                        <i class="fa-brands fa-github fa-2x" #tooltip="matTooltip" matTooltip="Github"
                            [matTooltipPosition]="'below'"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="text-white text-center">
            <span>Dranoj | version: 1.221006</span>
        </div>
    </div>
</section>