<app-header-component [activeRoute]="activeRoute"></app-header-component>

<section>
    <div class="container mt-5 h-100">
        <div class="item-container hide-on-init" animateOnScroll animationName="animated visible fadeIn">
            <div class="text-center pb-3 text-dark">
                <h2>My Work</h2>
            </div>
            <div class="w-100 position-relative">

                <button class="next front" (click)="slideNext()"
                        matRipple  
                        [matRippleCentered]="true"
                        [matRippleColor]="'rgba(255, 217, 0, 0.3)'">
                    <i class="fa fa-caret-right fa-3x"></i>
                </button>
                <button class="prev front" (click)="slidePrev()" 
                        matRipple  
                        [matRippleCentered]="true"
                        [matRippleColor]="'rgba(255, 217, 0, 0.3)'">
                    <i class="fa fa-caret-left fa-3x"></i>
                </button>

                <swiper #swiper [pagination]="{ clickable: true }" class="mySwiper mb-5 back rounded">
                    <ng-template swiperSlide class="p-container">
                        <div class="p-option">
                            <a href="#">More</a>
                        </div>
                        <div class="row">
                            <div class="col-md-8 position-relative">
                                <ngb-carousel #carousel [showNavigationArrows]="false" 
                                    [showNavigationIndicators]="false"
                                    [interval]="6000"
                                    [keyboard]="false"
                                    [activeId]="'slideOne'">
                                    <ng-template ngbSlide>
                                        <div class="picsum-img-wrapper" id="slideOne">
                                            <img class="p-img" src="assets/images/bg-2.jpg" alt="Random first slide">
                                        </div>
                                        <div class="carousel-caption">
                                            <h3>First slide label</h3>
                                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <div class="picsum-img-wrapper" id="slideTwo">
                                            <img class="p-img" src="assets/images/display-img.png" alt="Random first slide">
                                        </div>
                                        <div class="carousel-caption">
                                            <h3>First slide label</h3>
                                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <div class="picsum-img-wrapper" id="slideThree">
                                            <img class="p-img" src="assets/images/bg-2.jpg" alt="Random first slide">
                                        </div>
                                        <div class="carousel-caption">
                                            <h3>First slide label</h3>
                                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                                <a href="#" class="link-redirect">Redirect</a>
                            </div>
                            <div class="col-md-4">
                                <div class="p-2 mt-4">
                                    <p class="p-title">Sample</p>
                                    <p class="p-desc">A computer programmer, sometimes referred to as a software developer, a software engineer, or a programmer, is a person
                                    who creates computer programs- often for larger computer software</p>
                                    <div class="p-page txt-color-secondary">
                                        <p>1/3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide class="p-container rounded">
                        <div class="p-option">
                            <a href="#">More</a>
                        </div>
                        <div class="row">
                            <div class="col-md-8 position-relative">
                                <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="true" [interval]="6000"
                                    [keyboard]="false" [activeId]="'slideOne'">
                                    <ng-template ngbSlide>
                                        <div class="picsum-img-wrapper" id="slideOne">
                                            <img class="p-img" src="assets/images/bg-2.jpg" alt="Random first slide">
                                        </div>
                                        <div class="carousel-caption">
                                            <h3>First slide label</h3>
                                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <div class="picsum-img-wrapper" id="slideTwo">
                                            <img class="p-img" src="assets/images/display-img.png" alt="Random first slide">
                                        </div>
                                        <div class="carousel-caption">
                                            <h3>First slide label</h3>
                                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <div class="picsum-img-wrapper" id="slideThree">
                                            <img class="p-img" src="assets/images/bg-2.jpg" alt="Random first slide">
                                        </div>
                                        <div class="carousel-caption">
                                            <h3>First slide label</h3>
                                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                                <a href="#" class="link-redirect">Redirect</a>
                            </div>
                            <div class="col-md-4">
                                <div class="p-2 mt-4">
                                    <p class="p-title">Sample</p>
                                    <p class="p-desc">A computer programmer, sometimes referred to as a software developer, a software
                                        engineer, or a programmer, is a person
                                        who creates computer programs- often for larger computer software</p>
                                    <div class="p-page txt-color-secondary">
                                        <p>1/3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>

    <!-- Expertise -->
    <app-expertise></app-expertise>

    </div>
</section>

<app-footer-component></app-footer-component>