
.item-container{
    padding: 0;
}


.p-container {
    background-color: #fff;
    position: relative;
}

.p-img{
    width: 100%;
    height: 400px;
    z-index: 1;
}

.p-title{
    font-size: x-large;
    font-weight: bold;
    color: rgb(17, 17, 17);
}

.p-desc{
    color: rgb(49, 48, 48);
}

.p-page{
    width: auto;
    position: absolute;
    bottom: -5px;
    right: 30px;
}

.p-option{
    position: absolute;
    top: -30px;
    right: 10px;
}

.p-option a {
    text-decoration: none;
    color: rgba(29, 29, 29, 0.5);
    padding: 4px;
}

.p-option a:hover{
    border-bottom: #f8dc24 solid 1px;
}

.link-redirect{
    position: absolute;
    padding: 5px 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    top: 10px;
    right: 25px;
    background-color: rgba(19, 18, 18, 0.2);
    border: none;
    border-radius: 5px;
}

.link-redirect:hover{
    background-color: #222222;
    color: rgba(255, 255, 255, 0.7);
}

.prev{
    height: fit-content;
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 100;
    padding: 10px 9px 10px 11px;
        color: rgba(255, 255, 255, 0.5);
    background-color: rgba(19, 18, 18, 0.2);
    border: none;
    border-radius: 5px;
    text-align: center;
}

.prev:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(19, 18, 18, 0.7);

}

.next{
    height: fit-content;
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 100;
    padding: 10px 11px 10px 9px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(19, 18, 18, 0.2);
    border: none;
    border-radius: 5px;
    text-align: center;
}

.next:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(19, 18, 18, 0.7);

}

.s-container {}

.s-item {
    min-height: 150px;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-logo{
    height: 80px;
    width: 80px;
}

@media only screen and (max-width: 768px) {
 
    .p-img {
        height: 250px;
    }

    .next, .prev{
        display: none;
    }

 
}
